* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(circle at top right, #0b0b33, #01010f);
  color: white;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.navbar nav {
  margin-left: auto;
  margin-right: 20px;
}

.logo {
  font-weight: 700;
  font-size: 1.4rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.navbar a.active,
.navbar a:hover {
  color: #4dabf7;
}

.search {
  font-size: 1.2rem;
}

.container {
  text-align: center;
  margin-top: 60px;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #b5c7ff;
}

.controls {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

select {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1e1e4d;
  color: #fff;
}

.animation-area {
  position: relative;
  height: 250px;
  margin: 30px auto;
  width: 80%;
  overflow: hidden;
}

#car {
  position: absolute;
  bottom: 30px;
  width: 100px;
  left: 10%;
  transition: left 5s linear, right 5s linear;
}

#house {
  position: absolute;
  bottom: 30px;
  left: 45%;
  width: 120px;
}

#people {
  position: absolute;
  bottom: 30px;
  right: 10%;
  width: 150px;
  transform: scaleX(1);
  transition: right 5s linear, transform 0.35s ease-in-out;
}

#people.face-left {
  transform: scaleX(-1);
}

.arrow {
  position: absolute;
  top: 20px;
  width: 80px;
  opacity: 0.6;
}

#arrow-left {
  left: 10%;
}

#arrow-right {
  right: 10%;
}

#arrow-left1 {
    right: 18%;
}

#arrow-right1 {
    left: 18%;
}

button {
  margin-top: 10px;
  padding: 12px 35px;
  background: linear-gradient(135deg, #5e6cff, #4dabf7);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.button-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.desc {
  margin-top: 25px;
  font-size: 0.95rem;
  max-width: 700px;
  margin-inline: auto;
  color: #cbd5ff;
}


